<h1>Coding Events</h1>

<p>
    <a asp-controller="events" asp-action="add">Add Event</a>
</p>

@if (ViewBag.events.Count == 0)
{
    <p>No events yet!</p>
}

<table>
    @foreach (KeyValuePair<string, string> name in ViewBag.events)
    {
    <tr>
        <td>@name.Key: </td>
        <td>@name.Value</td>
    </tr>
   
        
   
    }
</table>

<partial name="/Views/Shared/_LinkListPartial.cshtml" />